<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加导航</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../lib/layui/layui/css/layui.css">
</head>
<body>
    <div class="layui-card">
        <div class="layui-card-header">
            <span class="layui-breadcrumb">
                <a href="">轮播图管理</a>
                <a><cite>添加轮播图</cite></a>
              </span>
        </div>
        <div class="layui-card-body">
            <form class="layui-form" action="" style="width: 800px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">图片名称</label>
                    <div class="layui-input-block">
                      <input type="text" name="banner_name" required  lay-verify="required" placeholder="请输入图片名称" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">图片排序</label>
                      <div class="layui-input-block">
                        <input type="number" name="banner_sort" required  lay-verify="required|number" placeholder="请输入图片排序" autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">轮播图图片</label>
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" id="pic1">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>                      
                        </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">图片内容</label>
                      <div class="layui-input-block">
                            <blockquote class="layui-elem-quote" >
                                <img src="" alt="" class="thumb" width="300px">
                                <!-- 隐藏域 -->
                                <input type="hidden" class="gtthumb" name="banner_img">
                            </blockquote>
                      </div>
                    </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                              <button class="layui-btn" lay-submit lay-filter="bannerForm">立即提交</button>
                              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                          </div>
            </form>
        </div>
      </div>
</body>
</html>
<script src="../lib/layui/layui/layui.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script>
    layui.use(['element','upload','layer','form','jquery'], function(){
        var {element,upload,layer,form,$} = layui;
        //图片上传
        var thumb=document.querySelector(".thumb");
        var gtthumb=document.querySelector(".gtthumb");
        upload.render({
        elem:'#pic1',
        url:'/admin/banner/upload',
        done:(res)=>{
            if(res.code==1){
                thumb.src=res.url;
                gtthumb.value=res.url;
            }else{
                    layer.msg("图片上传失败");
            }
        }
        })
        //数据上传
        form.on("submit(bannerForm)",(data)=>{
            console.log(data.field);
            $.ajax({
                type:'post',
                url:'/admin/banner/inserted',
                data:data.field,
                dataType:"json",
                success:function(res){
                   var {code,msg}=res;
                    if(code==1){
                        layer.open({
                            title:false,
                            content:msg,
                            icon:1  
                        })
                    }else{
                        layer.open({
                            title:false,
                            content:msg,
                            icon:2  
                        })
                    }  
                }
            })
         return false;
        })  
})        
</script> 