<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台登录页面</title>
    <link rel="stylesheet" href="css/login.css">
   
</head>

<body>
    <div id="login">  
        <h1>家居网后台管理系统</h1>  
        <form method="post" action="/admin/login">  
            <input type="text" required="required" placeholder="请输入用户名" name="username" ></input>  
            <input type="password" required="required" placeholder="请输入6~20位密码" name="password"></input>  
            <button class="but" type="submit">登录</button>  
        </form>  
    </div>   
</body>
</html>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script>


</script>
