<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查看导航</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./lib/layui/layui/css/layui.css">
</head>
<body>
    <div class="layui-card">
        <div class="layui-card-header">
            <span class="layui-breadcrumb">
                <a href="">导航管理</a>
                <a><cite>查看导航</cite></a>
              </span>
        </div>
        <div class="layui-card-body">
          <form class="layui-form" action="/index/list" method="get">
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" name="search" placeholder="请输入导航名称" autocomplete="off" class="layui-input" >
                  </div>
                   <button type="button" class="layui-btn"  lay-submit lay-filter="search"><i class="layui-icon layui-icon-search"></i> 搜索</button>
            </div>
          </form>
        </div>
          <table class="layui-table tableRender" lay-even>

          </table>
        </div>
      </div>
          <div id="updateBox">
         <form class="layui-form" action="" >
          <!-- 隐藏域 --> 
          <input type="hidden" name="nav_id">
          <div class="layui-form-item">
            <label class="layui-form-label">导航名称</label>
            <div class="layui-input-block">
              <input type="text" name="nav_name" required  lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">导航别名</label>
            <div class="layui-input-block">
              <input type="text" name="nav_alias" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn updateBox1" lay-submit lay-filter="updateForm" >立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </form>
      </div>
    
</body>
</html>
<script src="./lib/layui/layui/layui.js"></script>
 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script type="text/html" id="title1">
  <div>
    <a href="#"><i onclick="deleteNav('{{d.nav_id}}')" class="layui-icon layui-icon-delete"></i></a>
  <a href="#"><i onclick="updateNav('{{d.nav_id}}')" class="layui-icon layui-icon-edit"></i></a>
  </div>
</script>
<!-- <script type="text/html" id="title4">
  <div>
    <input type="checkbox" name="" lay-skin="primary">
  </div>
</script> -->
<script type="text/html" id="title2">
  <div>
    <input type="text" onchange="updateSort('{{d.nav_id}}',this)" autocomplete="off" class="layui-input"  value="{{d.nav_sort}}" style="width: 30px;height: 25px;">
  </div>
</script>
<script type="text/html" id="title3">
  <div>
   <span onclick="fn('{{d.nav_id}}','{{d.is_show?0:1}}')"><button class="layui-btn layui-btn-sm {{d.is_show?'':'layui-btn-danger'}}">{{d.is_show?"已启用":"未启用"}}</button></span>
  </div>
</script>
<!-- -->
<script>
  var $,layer,tableIns,form;
  //修改启用
  function fn(id,show){
    console.log(id,show);
      $.ajax({
        type:"get",
        url:`/admin/nav/update?id=${id}&show=${show}`,
        success:(res=>{
          let {code,msg}=res;
          if(code==1){
            tableIns.reload();
          }
          layer.msg(msg);
        })
      })
  }

  //修改排序
  function updateSort(id,obj){
    console.log(id,obj);
    $.get(`/admin/nav/update?id=${id}&sort=${obj.value}`,(res)=>{
      let {code,msg}=res;
      if(code==1){
        tableIns.reload();
      }
      layer.msg(msg);
    }) 
  }

  //删除
  function deleteNav(id){
    layer.open({
  content: '您确定要执行删除操作吗？'
  ,btn: ['确定', '取消']
  ,yes: function(index, layero){
    //按钮【按钮一】的回调
    $.get(`/admin/nav/delete?id=${id}`,(res)=>{
      let {code,msg}=res;
      if(code){
        tableIns.reload();
      }
      layer.msg(msg);
    })
  }
  ,btn2: function(index, layero){
    //按钮【按钮二】的回调 
    //return false 开启该代码可禁止点击该按钮关闭
  }
  ,cancel: function(){ 
    //右上角关闭回调
    //return false 开启该代码可禁止点击该按钮关闭
  }   
  })
  }

//修改导航（整体）
function updateNav(id){
  var index;
  $.get(`/admin/nav/updateAll?id=${id}`,(res)=>{
    index= layer.open({
      title:"修改导航",
      type:1,
      content:$("#updateBox")
    })
  
    let data=res.data;
    // Dom对象
    let nav_name=document.querySelector("[name=nav_name]");
    let nav_alias=document.querySelector("[name=nav_alias]");
    nav_name.value=data.nav_name;
    nav_alias.value=data.nav_alias;
    $("[name=nav_id]").val(data.nav_id);
    // jquery对象
    // $("[name=nav_name]").val(data.nav_name);
    // $("[name=nav_alias]").val(data.nav_alias);
    form.on("submit(updateForm)",(data)=>{
      $.ajax({
        url:"/admin/nav/updateAll",
        type:"post",
        data:data.field,
        dataType:"json",
        success:(res)=>{
          let {code,msg}=res;
          if(code==1){
            //关闭窗口,表格重载,隐藏表单
            layer.close(index);
            tableIns.reload();
           $("#updateBox").toggle();
          }
          layer.msg(msg);
        }
      })
      return false;
    })  
})
}
        layui.use(['element','table','form','jquery','layer'], function(){
        var {element,table} = layui;
        $=layui.$;
        form=layui.form;
        tableIns=table.render({
        elem:".tableRender",
        url:"/admin/nav/query",
        cols:[[ //表头
      // {field: '', title: '<input type="checkbox" name="" lay-skin="primary">', width:80,  fixed:'left',templet:"#title4"} ,
      {field: 'nav_id', title: 'ID', width:80, sort: true} ,
      {field: 'nav_name', title: '导航名称' },
      {field: 'nav_alias', title: '导航别名' },
      {field: 'nav_sort', title: '导航排序',templet:"#title2"}, 
      {field: 'nav_url', title: '路由名称' },
      {field: 'is_show', title: '是否显示',templet:"#title3"}, 
      {field: '', title: '操作', templet:"#title1"}
    ]],
    limit:5,
    page:true,
    limits:[5,10,15,20]
       })    
        //搜索功能
       form.on("submit(search)",(data)=>{
       tableIns.reload({
         where: { //设定异步数据接口的额外参数，任意设
          search:data.field.search
         },
       page: {
       curr: 1 //重新从第 1 页开始
         }
       })
       })  
})
      
</script>